.key-value-property {
    border: 1px solid #e0e8ea;
    padding: 10px;
    border-radius: 4px;
    background-color: #fcfcfc;
}

.key-value-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

.key-value-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.key-value-input {
    flex: 1 1 45%; /* Позволяет инпутам занимать равное место */
    padding: 6px 8px;
    border: 1px solid #c4ced2;
    border-radius: 3px;
    font-size: 14px;
}

.key-value-delete-row {
    flex-shrink: 0; /* Не сжиматься */
    background: transparent;
    border: 1px solid #e53935;
    color: #e53935;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px; /* Выравнивание по вертикали */
    padding: 0;
    text-align: center;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    opacity: 0.7;
    transition: opacity 0.2s, background-color 0.2s, color 0.2s;
}

.key-value-delete-row:hover {
    opacity: 1;
    background-color: #e53935;
    color: #fff;
}

.key-value-add-row {
    background-color: #eef2f4;
    border-color: #caced3 #caced3 #b1b6bb;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.6), inset 0 1px 0 0 rgba(255,255,255,0.3);
    color: #3f4b54;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    padding: 4px 12px;
    text-shadow: 0 1px #fff;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
}

.key-value-add-row:hover {
    background-color: #dfe5e7;
}